<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.majiang.community.mapper.QuestionExtMapper">
    <resultMap id="BaseResultMap" type="life.majiang.community.model.Question">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate" />
        <result column="GMT_MODIFY" jdbcType="BIGINT" property="gmtModify" />
        <result column="CREATOR" jdbcType="INTEGER" property="creator" />
        <result column="COMMENT_COUNTER" jdbcType="INTEGER" property="commentCounter" />
        <result column="VIEW_COUNTER" jdbcType="INTEGER" property="viewCounter" />
        <result column="LIKE_COUNTER" jdbcType="INTEGER" property="likeCounter" />
        <result column="TAG" jdbcType="VARCHAR" property="tag" />
    </resultMap>

    <update id="incView" parameterType="life.majiang.community.model.Question">
        update QUESTION
        set
        VIEW_COUNTER = VIEW_COUNTER + #{viewCounter,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <update id="incCommentCounter" parameterType="life.majiang.community.model.Question">
        update QUESTION
        set
        COMMENT_COUNTER = COMMENT_COUNTER + #{commentCounter,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <select id="selectRelated" parameterType="life.majiang.community.model.Question" resultMap="BaseResultMap">
        select * from QUESTION where id != #{id} and tag regexp #{tag}
    </select>

</mapper>